:root {
    --mainColor: #000;
    --secondaryColor: #00008b;

    --borderColor: #c1c1c1;

    --mainText: #fff;
    --secondaryText: rgb(121, 144, 245);
    --accentText: #000;


    --ff-secondary: 'Roboto Condensed', sans-serif;
    --ff-primary: 'Russo One', sans-serif;
    --ff-accent: 'Luxurious Roman', cursive;

    --shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

    --themeDotBorder: #24292e;

    --previewBg: rgba(22, 22, 22, 0.8);

    --previewShadow: #333;

    --buttonColor: #00008b;
}