:root {
    --mainColor: #2e2c2c;
    --secondaryColor: rgb(0, 0, 0);

    --borderColor: #ffffff;

    --mainText: rgb(255, 255, 255);
    --secondaryText: #707070;
    --accentText: #bbbbbb;


    --ff-secondary: 'Roboto Condensed', sans-serif;
    --ff-primary: 'Russo One', sans-serif;
    --ff-accent: 'Luxurious Roman', cursive;

    --shadow: -1px 1px 3px -1px rgba(255, 255, 255, 0.75);

    --themeDotBorder: #ffffff;

    --previewBg: rgba(44, 43, 39, 0.8);

    --previewShadow: #444444;

    --buttonColor: rgb(102, 102, 102);
}
